# JWT
JWT_SECRET=JWT-secret
JWT_REFRESH_SECRET=JWT-refresh-secret
JWT_EXPIRES_IN=JWT-expire
JWT_REFRESH_EXPIRES_IN=JWT-refresh-expire
REFRESH_TOKEN_MAX_AGE=refresh-token-max-age

# App
NODE_ENV=development

# Database
DATABASE_URL=database-url
